@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10%;
}

nav {
    padding: 20px;
}

main {
    background-color: white;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
}

label {
    font-size: 25px;
}

input {
    background-color: #EFEFEF;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
}

input:focus {
    outline: 0;
}

button {
    width: 100%;
    height: 4em;
    font-weight: 500;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 20px;
    font-size: 25px;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.error {
    display: none;
    background-color: rgb(255, 175, 175);
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.nav-colors {
    width: 100%;
    height: 10px;
    object-fit: cover;
    object-position: 0 0 -90% 0;
    display: block;
}

.logo {
    height: 2em;
}

.define_time {
    display: flex;
    flex-direction: column;
}

.timer {
    font-size: 200px;
}

@media screen and (max-width: 1280px) {
    main {
        width: 80%;
    }
}

@media screen and (max-width: 460px) {
    main {
        width: 90%;
    }

    h1 {
        font-size: 35px;
    }
    
    label {
        font-size: 20px;
    }
    
    input {
        font-size: 15px;
    }

    .error {
        font-size: 15px;
    }

    button {
        font-size: 20px;
    }

    .timer {
        font-size: 75px;
    }
}